@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

.aboutMe {
    background-image: url("./Images/aboutMebackground2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    font-family: Raleway;
    min-height: 600px;
}

.aboutMe h1 {
    padding-top: 50px;
    padding-left: 40px;
    font-size: 26px;

}

.aboutMe p {
    /* font-size: 18px; */
    font-size: 14.5px;
    width: 60%;
    padding-left: 40px;
    padding-bottom: 10px;
}

/* @media only screen and (min-width: 400px) and (max-width: 1000px)  {  */
    @media only screen and (min-width: 768px)  {
    .aboutMe p {
        font-size: 18px;
        width: 50%;
        padding-left: 40px;
        padding-bottom: 20px;
    }
}

/* min-width:768px */